<% include common/header.ejs %>
<% include common/right.ejs %>
<div class="left-width">
    <div class="container">
        <div class="page-title">
        <h2>
            <span class="count-tile">Усі піци</span>
            <span class="pizza-c">&nbsp;<span class="pizza_count">0</span>&nbsp;</span>
        </h2>
        </div>
        <div class="all-pizza-type-wrap">
            <a href="#" class="filter-button filter-active">Усі</a>
            <a href="#" class="filter-button">Мясні</a>
            <a href="#" class="filter-button">З ананасами</a>
            <a href="#" class="filter-button">З грибами</a>
            <a href="#" class="filter-button">З морепродуктами</a>
            <a href="#" class="filter-button">Вега</a>
        </div>
        <div class="pizza_list">
        
        </div>
    </div>
</div>
<% include common/footer.ejs %>