<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
			crossorigin='anonymous'>
<title>Pizza</title>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark left-width">
		<a class="navbar-brand" href="#">Pizza<br>KMA</a>
		<div>
			<span class="navbar-text number">+380935796796</span>
			<span class="navbar-text so">24 години / 7днів на тиждень</span>
			<span class="navbar-text fo">Безкоштовна доставка</span>
			<br>
			<ul class="navbar-nav" style="border-top: 1px solid rgba(255,255,255,.5);">
				<li class="nav-item">
					<a class="nav-link navbar-text" href="#">Піца</a>
				</li>
			</ul>
		</div>
		<button type="button" class="btn button navbar-button">Ввійти</button>
	</nav>
	<div class="navbar-figure"></div>