<div class="right right-width">
    	<div class="right-first-block">
    		<h3 style="display: inline-block;">Замовлення  <span class="orders-c">&nbsp;<span class="orders">0</span>&nbsp;</span></h3>
    		<a href="#" class="del_all">Очистити</a>
    	</div>

    	<div class="right-middle-block">
			
    	</div>

    	<div class="right-last-block right-width">
    		<span style="float: left;">Сума:</span> <span style="float: right;"><span class="money">0</span> грн</span>
    		<a class="b" id="confrim-order" href="http://localhost:300/order.html"><button type="button" class="btn button" style="width: 90%;display: inline-block;margin-top: 20px;">Замовити</button></a>
    	</div>
</div>